main{
    background-color: rgba(0, 4, 44, 0.945);
    font-family: Arial, Helvetica, sans-serif;
}

#home{
    margin: 0;
    padding: 2rem;
}

.text-one, .text-two{
    height: 400px;
    background-color: rgb(172, 170, 170);
    color: #000;
    padding: 0.5em;
    border-radius: 10px;
}

.container{
    padding: 0, 0.5rem;
}

.input-text, .message {
    width: 500px;
    height: 450px;
    padding-top: 1.5rem;
}



.important{
    color: rgb(119, 119, 119);
    font-size: 10px;
    margin: 1em;
}

.buttons{
    width: 220px;
    height: 40px;
    border: 1px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    margin: 0.5em;
}

li{
    list-style: none;
}

#encryptBtn{
    background-color: rgb(201, 200, 200);
    color: rgb(0, 3, 19);
}

#decryptBtn, #copyBtn{
    background-color: rgb(31, 30, 30);
    color: rgb(190, 190, 190);
}

#encryptBtn:hover{
    background-color: rgba(95, 94, 94, 0.788);
    cursor: pointer;
}

#decryptBtn:hover, #copyBtn:hover{
    background-color: rgba(73, 73, 73, 0.904);
    cursor: pointer;
}

#copyBtn:active, #decryptBtn:active{
    background-color: rgba(119, 119, 119, 0.911);
}

#encryptBtn:active{
    background-color: rgba(66, 66, 66, 0.911);
}